html, body {
	margin: 0;
	height:100%;
	width:100%;
}

#pagewrapper {
	height:100%;
	width:100%;
	background-color:#F0F1FA;
	position:relative;
}
#pagewrapper h1{
	padding-top:50px;
	text-align: center;
}
#todotable {
	width:100%;
	height:auto;
	text-align: center;
}

#todotable table{
	margin: 0 auto;
}

#todotable td{
	text-align: center;
}